Repository PrettierMaps/PrettierMaps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ruff, mypy, test, build_docs, isort

ruff:
  stage: lint
  image: python:$VERSION
  parallel:
    matrix:
    - VERSION:
      - '3.9'
      - '3.13'
  script:
  - pip install uv
  - make venv
  - uv run ruff check .
  - uv run ruff format .

mypy:
  stage: lint
  image: python:$VERSION
  parallel:
    matrix:
    - VERSION:
      - '3.9'
      - '3.13'
  script:
  - pip install uv
  - make venv
  - uv run mypy .

test:
  stage: test
  image: qgis/qgis:latest
  script:
  - pip install --break-system-packages -e '.[test]' --no-deps || true
  - pytest

build_docs:
  stage: build_docs
  image: python:3.12
  script:
  - pip install uv
  - make venv
  - make docs

isort:
  stage: lint
  image: python:3.12
  script:
  - make isort

Revert "Merge branch 'revert-2c67007b' into 'main'"
  prettier_maps/core/layers.py
  prettier_maps/core/quick_osm_utils.py
  prettier_maps/core/style_osm_layer.py
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Add more pages to docs
  docs/code.md
  docs/tutorial.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: build_docs

Latest version fixed
  tests/core/test_layers.py
Due: ruff, mypy, test, isort

Pipeline happiness commit
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Fixed plugin closing after QuickOSM queries are styled
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Fixed linting issue
  prettier_maps/core/style_osm_layer.py
Due: ruff, mypy, test, build_docs, isort

Test fixed: Right imports added
  tests/core/test_layers.py
Due: ruff, mypy, test, isort

Added test_save_quick_osm_layers() to test save_quick_osm_layers()
  tests/core/test_layers.py
Due: ruff, mypy, test, isort

Linter error fixed?
  tests/core/test_layers.py
Due: ruff, mypy, test, isort

Fixed issue with test_save_quick_osm_layers()
  tests/core/test_layers.py
Due: ruff, mypy, test, isort

Refactored code
  tests/core/test_layers.py
Due: ruff, mypy, test, isort

trial
  amenity_bank_Glasgow_1200_point.gpkg
  amenity_bank_Glasgow_1200_polygon.gpkg
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Added banners instead of pop up windows
  amenity_bank_Glasgow_1200_point.gpkg
  amenity_bank_Glasgow_1200_polygon.gpkg
Due: none

Updated tests to correctly test the color picker feature as well
  tests/core/test_layers.py
Due: ruff, mypy, test, isort

Redundant code from test_single_layer_styling() removed
  tests/core/test_layers.py
Due: ruff, mypy, test, isort

Shows warning message for both save osm layer and style osm layer buttons
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Fixed linter issue?
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Now checks if all colors are equal to the test_color
  tests/core/test_layers.py
Due: ruff, mypy, test, isort

linter happiness commit
  prettier_maps/core/__init__.py
Due: ruff, mypy, test, build_docs, isort

Apply suggestion
  tests/core/test_layers.py
Due: ruff, mypy, test, isort

add_permanent_layer annotation and docstring
  prettier_maps/core/save_osm_layer.py
Due: ruff, mypy, test, build_docs, isort

Docstring clean up and simplification
  prettier_maps/core/layers.py
  prettier_maps/core/save_osm_layer.py
  prettier_maps/core/style_osm_layer.py
Due: ruff, mypy, test, build_docs, isort

UI docstrings
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Typos and other merge corrections
  prettier_maps/core/layers.py
  prettier_maps/core/quick_osm_utils.py
  prettier_maps/core/style_osm_layer.py
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Condition boolean return bug fix
  prettier_maps/core/save_osm_layer.py
Due: ruff, mypy, test, build_docs, isort

Separate file for info button style
  prettier_maps/assets/info_button.css
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Add coverage config and add it to dockerfile too
  .devcontainer/Dockerfile.test
  prettier_maps/__init__.py
  prettier_maps/core/save_osm_layer.py
  pyproject.toml
Due: ruff, mypy, test, build_docs, isort

Add coverage to test workflow
  .devcontainer/Dockerfile.test
  .gitlab/ci/.gitlab-ci.yml
  Makefile
Due: ruff, mypy, test

Path open syntax fix
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

vector tile annotation correction
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

childlessness condition check
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Annotation clean up
  prettier_maps/core/layers.py
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

info style file reference bug
  prettier_maps/config/paths.py
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

layer object change bug fix
  prettier_maps/core/layers.py
Due: ruff, mypy, test, build_docs, isort

None catching clause in comprehensions
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Shows banner for 'No MapTiler Layers Open'
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Satisfying MyPy, my beloved
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Clean-up and saving layers bug fix
  prettier_maps/core/save_osm_layer.py
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Quick Fix for Styling Retention Bug
  prettier_maps/core/save_osm_layer.py
Due: ruff, mypy, test, build_docs, isort

Test fixes
  tests/core/test_layers.py
Due: ruff, mypy, test, isort

Path conditions:
  ruff: (any of: tests/**/*, prettier_maps/**/*, .gitlab/**/*) or (any of: tests/**/*, prettier_maps/**/*)
  mypy: (any of: tests/**/*, prettier_maps/**/*, .gitlab/**/*) or (any of: tests/**/*, prettier_maps/**/*)
  test: any of: tests/**/*, prettier_maps/**/*, .gitlab/**/*
  build_docs: (any of: docs/**/*) or (any of: docs/**/*, prettier_maps/**/*)
  isort: any of: tests/**/*, prettier_maps/**/*
