Repository PrettierMaps/PrettierMaps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ruff, mypy, isort, build_docs

ruff:
  stage: lint
  image: python:3.12
  script:
  - make ruff

mypy:
  stage: lint
  image: python:3.12
  script:
  - make mypy

isort:
  stage: lint
  image: python:3.12
  script:
  - make isort

build_docs:
  stage: build_docs
  image: python:3.12
  script:
  - make docs

ci: moved all workflows to single file
  .gitlab/ci/.gitlab-ci.yml
  .gitlab/ci/docs.yml
  .gitlab/ci/lint.yml
Due: none

ci: update when build docs job runs
  .gitlab/ci/.gitlab-ci.yml
  .vscode/settings.json
Due: none

ci: update when build docs job runs
  .gitlab/ci/.gitlab-ci.yml
Due: none

ci: update when build docs job runs
  .github/workflows/deploy-docs.yml
Due: none

ci: update the docs workflow
  .github/workflows/deploy-docs.yml
Due: none

docs: rewrote the docs push workflow
  .github/workflows/deploy-docs.yml
Due: none

docs: update metadata to include docs homepage
  prettier_maps/metadata.txt
Due: ruff, mypy, isort, build_docs

ci: add (untested) deploy workflow
  .gitlab/ci/.gitlab-ci.yml
  .vscode/settings.json
Due: none

docs: update metadata file
  prettier_maps/metadata.txt
Due: ruff, mypy, isort, build_docs

Add issue template Bug.md
  .gitlab/issue_templates/Bug
Due: none

add Bug.md
  .gitlab/issue_templates/Bug.md
Due: none

Delete Bug
  .gitlab/issue_templates/Bug.md
Due: none

Delete Bug
  .gitlab/issue_templates/Bug
Due: none

Documentation.md
  .gitlab/issue_templates/Documentation.md
Due: none

Refactoring.md
  .gitlab/issue_templates/Refactoring.md
Due: none

Bug.md fixed
  .gitlab/issue_templates/Bug.md
Due: none

Feature.md
  .gitlab/issue_templates/Feature.md
Due: none

Bug.md - change to comments + add label
  .gitlab/issue_templates/Bug.md
Due: none

Documentation.md - change to comments + add label
  .gitlab/issue_templates/Documentation.md
Due: none

Update 4 files
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Documentation.md
  .gitlab/issue_templates/Feature.md
  .gitlab/issue_templates/Refactoring.md
Due: none

Rename Skill.md
  .gitlab/issue_templates/Skill.md
Due: none

Merge Requests in the same style
  .gitlab/issue_templates/Feature.md
  .gitlab/merge_request_templates/Bug.md
  .gitlab/merge_request_templates/Feature.md
  .gitlab/merge_request_templates/Refactoring.md
Due: none

fix: add requirements groups to pyproject
  pyproject.toml
  requirements-dev.txt
  requirements-docs.txt
  requirements-test.txt
  requirements.txt
  uv.lock
Due: none

Replace logo.png
  prettier_maps/assets/logo.png
Due: ruff, mypy, isort, build_docs

Template typo corrections
  .gitlab/issue_templates/Documentation.md
  .gitlab/issue_templates/Feature.md
  .gitlab/merge_request_templates/Feature.md
Due: none

style: update plugin ui
  prettier_maps/ui/dialog.py
  pyproject.toml
  uv.lock
Due: ruff, mypy, isort, build_docs

fix: ci pipelines and add interface for qgis interface to remove dependency from qgis
  .gitlab/ci/.gitlab-ci.yml
  Makefile
  prettier_maps/__init__.py
  prettier_maps/interfaces.py
  prettier_maps/plugin.py
  pyproject.toml
  uv.lock
Due: ruff, mypy, isort, build_docs

fix: makefile
  Makefile
Due: none

feat: add function calls to the buttons
  prettier_maps/core/__init__.py
  prettier_maps/core/main.py
  prettier_maps/plugin.py
  prettier_maps/ui/dialog.py
Due: ruff, mypy, isort, build_docs

test: add test ci pipeline and one test
  .gitlab/ci/.gitlab-ci.yml
  tests/core/__init__.py
  tests/core/test_main.py
Due: ruff, mypy, isort

fix: ci pipelines and interface
  .gitlab/ci/.gitlab-ci.yml
  prettier_maps/interfaces.py
Due: ruff, mypy, isort, build_docs

feat: add more ui and some interfaces for interacting with quick osm
  prettier_maps/core/main.py
  prettier_maps/interfaces.py
  prettier_maps/metadata.txt
  prettier_maps/ui/dialog.py
  pyproject.toml
  uv.lock
Due: ruff, mypy, isort, build_docs

add initial layers file
  prettier_maps/core/layers.py
Due: ruff, mypy, isort, build_docs

fix script so it splits layers
  prettier_maps/core/layers.py
Due: ruff, mypy, isort, build_docs

Path conditions:
  ruff: any of: tests/**/*, prettier_maps/**/*
  mypy: any of: tests/**/*, prettier_maps/**/*
  isort: any of: tests/**/*, prettier_maps/**/*
  build_docs: any of: docs/**/*, prettier_maps/**/*
