Repository PrettierMaps/PrettierMaps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ruff, mypy, isort, test, build_docs

ruff:
  stage: lint
  image: python:3.12
  script:
  - uv run ruff check .
  - uv run ruff format .

mypy:
  stage: lint
  image: python:3.12
  script:
  - uv run mypy .

isort:
  stage: lint
  image: python:3.12
  script:
  - uv run isort .

test:
  stage: test
  image: python:3.12
  script:
  - uv run pytest

build_docs:
  stage: build_docs
  image: python:3.12
  script:
  - make docs

fix: linting errors
  prettier_maps/core/layers.py
  prettier_maps/ui/dialog.py
Due: ruff, mypy, isort, test, build_docs

updated metadata
  prettier_maps/metadata.txt
Due: ruff, mypy, isort, test, build_docs

Added 1 line of code that auto closes the program
  prettier_maps/ui/dialog.py
Due: ruff, mypy, isort, test, build_docs

Changed all uses of OR operator to using Union type
  prettier_maps/interfaces.py
  prettier_maps/plugin.py
Due: ruff, mypy, isort, test, build_docs

Style UI Setup
  prettier_maps/ui/dialog.py
Due: ruff, mypy, isort, test, build_docs

Revert Previous - My Apologies
  prettier_maps/ui/dialog.py
Due: ruff, mypy, isort, test, build_docs

Link Button to core files
  prettier_maps/core/layers.py
  prettier_maps/ui/dialog.py
Due: ruff, mypy, isort, test, build_docs

Identification of all top-level QuickOSM layers
  prettier_maps/core/layers.py
Due: ruff, mypy, isort, test, build_docs

update pythonn version to be >3.9
  Makefile
  prettier_maps/interfaces.py
  prettier_maps/plugin.py
  pyproject.toml
  uv.lock
Due: ruff, mypy, isort, test, build_docs

update makefile venv command to install uv too
  Makefile
Due: none

changed Union with None to Optional
  prettier_maps/interfaces.py
  prettier_maps/plugin.py
Due: ruff, mypy, isort, test, build_docs

update ci to use different python versions
  .gitlab/ci/.gitlab-ci.yml
Due: none

update code quality ci run condition
  .gitlab/ci/.gitlab-ci.yml
Due: none

update dependencies and add test
  .gitlab/ci/.gitlab-ci.yml
  Makefile
  pyproject.toml
  tests/core/test_layers.py
Due: ruff, mypy, isort, test

add dockerfile for testing
  .devcontainer/dockerfile.test
  Makefile
Due: none

update makefile
  Makefile
Due: none

add filter layers functionality
  .vscode/settings.json
  Makefile
  prettier_maps/config/layers.py
  prettier_maps/core/layers.py
  prettier_maps/ui/dialog.py
  pyproject.toml
  uv.lock
Due: ruff, mypy, isort, test, build_docs

update pipeline
  .gitlab/ci/.gitlab-ci.yml
Due: none

add more layers
  prettier_maps/config/layers.py
Due: ruff, mypy, isort, test, build_docs

add filter tests
  .devcontainer/Dockerfile.test
  .devcontainer/dockerfile.test
  prettier_maps/core/layers.py
  tests/core/test_layers.py
Due: ruff, mypy, isort, test, build_docs

remove some matrices from linting ci
  .gitlab/ci/.gitlab-ci.yml
Due: none

Top-level QuickOSM layers, flat colouring
  prettier_maps/core/layers.py
Due: ruff, mypy, isort, test, build_docs

Refactoring of Style Application
  prettier_maps/core/layers.py
Due: ruff, mypy, isort, test, build_docs

Clean-up and consistent pluralisation
  prettier_maps/core/layers.py
  prettier_maps/ui/dialog.py
Due: ruff, mypy, isort, test, build_docs

Refactoring of UI buttons
  prettier_maps/ui/dialog.py
Due: ruff, mypy, isort, test, build_docs

fix import bug
  prettier_maps/core/layers.py
Due: ruff, mypy, isort, test, build_docs

Able to save layers_need to edit
  prettier_maps/core/save_osm_layer.py
Due: ruff, mypy, isort, test, build_docs

add save layers button
  .vscode/settings.json
  prettier_maps/core/save_osm_layer.py
  prettier_maps/ui/dialog.py
Due: ruff, mypy, isort, test, build_docs

Broken import bug fix
  prettier_maps/core/layers.py
  prettier_maps/ui/dialog.py
Due: ruff, mypy, isort, test, build_docs

Wee change, first letter is now in caps
  prettier_maps/ui/dialog.py
Due: ruff, mypy, isort, test, build_docs

Merge branch 'main' of https://stgit.dcs.gla.ac.uk/team-project-h/2024/jh02/jh02-main into feature/style-quickosm-layer
  .devcontainer/Dockerfile.test
  .gitlab/ci/.gitlab-ci.yml
  .vscode/settings.json
  Makefile
  prettier_maps/config/layers.py
  prettier_maps/core/layers.py
  prettier_maps/interfaces.py
  prettier_maps/plugin.py
  prettier_maps/ui/dialog.py
  pyproject.toml
  tests/core/test_layers.py
  uv.lock
Due: ruff, mypy, isort, test, build_docs

Style Button loading bug fix
  prettier_maps/ui/dialog.py
Due: ruff, mypy, isort, test, build_docs

Incomplete - styling simple markers
  prettier_maps/core/layers.py
Due: ruff, mypy, isort, test, build_docs

Displays layers saved message
  prettier_maps/ui/dialog.py
Due: ruff, mypy, isort, test, build_docs

fixed issue with linter
  prettier_maps/ui/dialog.py
Due: ruff, mypy, isort, test, build_docs

Encforcing Flat Colour Style
  prettier_maps/core/layers.py
Due: ruff, mypy, isort, test, build_docs

Removal of Function Call Used in Development
  prettier_maps/core/layers.py
Due: ruff, mypy, isort, test, build_docs

update docs
  docs/assets/ui.png
  docs/index.md
  prettier_maps/metadata.txt
  uv.lock
Due: ruff, mypy, isort, test, build_docs

update to 0.2.0
  prettier_maps/metadata.txt
  pyproject.toml
  uv.lock
Due: ruff, mypy, isort, test, build_docs

Path conditions:
  ruff: any of: tests/**/*, prettier_maps/**/*
  mypy: any of: tests/**/*, prettier_maps/**/*
  isort: any of: tests/**/*, prettier_maps/**/*
  test: any of: tests/**/*, prettier_maps/**/*
  build_docs: (any of: docs/**/*) or (any of: docs/**/*, prettier_maps/**/*)
