Repository PrettierMaps/PrettierMaps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ruff, mypy, test, build_docs, isort

.gitlab/ci/.gitlab-ci.yml:

stages:
  - lint
  - build_docs
  - deploy
  - test

ruff:
  stage: lint
  image: "python:$VERSION"
  parallel:
    matrix:
      - VERSION: ["3.9", "3.13"]
  script:
    - pip install uv
    - make venv
    - uv run ruff check .
    - uv run ruff format .
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - tests/**/*
        - prettier_maps/**/*
        - .gitlab/**/*

mypy:
  stage: lint
  image: "python:$VERSION"
  parallel:
    matrix:
      - VERSION: ["3.9", "3.13"]
  script:
    - pip install uv
    - make venv
    - uv run mypy .
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - tests/**/*
        - prettier_maps/**/*
        - .gitlab/**/*

test:
  stage: test
  image: qgis/qgis:latest
  script:
    - pip install --break-system-packages -e '.[test]' --no-deps || true
    - pytest
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - tests/**/*
        - prettier_maps/**/*
        - .gitlab/**/*

build_docs:
  stage: build_docs
  image: python:3.12
  script:
    - pip install uv
    - make venv
    - make docs
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - docs/**/*

.gitlab/ci/docs.yml:

stages:
  - build_docs

before_script:
  - make venv

build_docs:
  stage: build_docs
  image: python:3.12
  script:
    - make docs
  only:
    changes:
      - docs/**/*
      - prettier_maps/**/*

.gitlab/ci/lint.yml:

stages:
  - lint

before_script:
  - make venv

ruff:
  stage: lint
  image: python:3.12
  script:
    - make ruff
  only:
    changes:
      - tests/**/*
      - prettier_maps/**/*
mypy:
  stage: lint
  image: python:3.12
  script:
    - make mypy
  only:
    changes:
      - tests/**/*
      - prettier_maps/**/*

isort:
  stage: lint
  image: python:3.12
  script:
    - make isort
  only:
    changes:
      - tests/**/*
      - prettier_maps/**/*

Merge conflict resolution
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Refactored code and fixed state retention of maptiler layers
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Changed from no_maptier_layers_found to no_maptiler_layers_found()
  prettier_maps/ui/dialog.py
Due: ruff, mypy, test, build_docs, isort

Bump to 1.4.0
  README.md
  prettier_maps/__init__.py
  prettier_maps/metadata.txt
  pyproject.toml
Due: ruff, mypy, test, build_docs, isort

Update release workflow
  .github/workflows/deploy-plugin.yml
Due: none

Update lockfile
  uv.lock
Due: none

Bump to 1.4.1
  README.md
  prettier_maps/__init__.py
  prettier_maps/metadata.txt
  pyproject.toml
Due: ruff, mypy, test, build_docs, isort

correct filepath for logo as icon
  prettier_maps/metadata.txt
Due: ruff, mypy, test, build_docs, isort

Update to 1.4.2
  README.md
  prettier_maps/__init__.py
  prettier_maps/metadata.txt
  pyproject.toml
Due: ruff, mypy, test, build_docs, isort

Version correction
  docs/index.md
  pyproject.toml
Due: build_docs

Bump to 1.4.3
  README.md
  docs/index.md
  prettier_maps/__init__.py
  prettier_maps/metadata.txt
  pyproject.toml
Due: ruff, mypy, test, build_docs, isort

Bump to 1.4.4
  README.md
  docs/index.md
  prettier_maps/__init__.py
  prettier_maps/metadata.txt
  pyproject.toml
Due: ruff, mypy, test, build_docs, isort
